<h2>Our Services</h2>


@* Top banner section *@
<div class="i-service-banner"></div>


@* Page content *@
<div class="i-service-container" >
    @* Car side card *@
    <div class="i-car-container">
        <div class="i-car-head">
            <img src="~/Content/Images/square.jpg" style="border-radius:100%; width:250px;" />
            <h3>Car Insurance</h3>
        </div>

        @* Car Accordion *@
        <div id="accordion">
            <div class="card" style="border-bottom:1.5px solid;">
                <div class="card-header" id="headingcarOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapsecarOne" aria-expanded="true" aria-controls="collapsecarOne">
                            Liability up to $50,000
                        </button>
                    </h5>
                </div>

                <div id="collapsecarOne" class="collapse" aria-labelledby="headingcarOne" data-parent="#accordion">
                    <div class="card-body">
                        We will pay up to $50,000 for any damage done if you cause an accident.
                    </div>
                </div>
            </div>
            <div class="card" style="border-bottom:1.5px solid;">
                <div class="card-header" id="headingcarTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsecarTwo" aria-expanded="false" aria-controls="collapsecarTwo">
                            Accidental and Fire damage
                        </button>
                    </h5>
                </div>
                <div id="collapsecarTwo" class="collapse" aria-labelledby="headingcarTwo" data-parent="#accordion">
                    <div class="card-body">
                        We will cover repairs if your car is damaged in an accident or fire
                    </div>
                </div>
            </div>
            <div class="card" style="border-bottom:1.5px solid;">
                <div class="card-header" id="headingcarThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsecarThree" aria-expanded="false" aria-controls="collapsecarThree">
                            Theft
                        </button>
                    </h5>
                </div>
                <div id="collapsecarThree" class="collapse" aria-labelledby="headingcarThree" data-parent="#accordion">
                    <div class="card-body">
                        We will cover replacement costs if your car is stolen
                    </div>
                </div>
            </div>
            <div class="card" style="border-bottom:1.5px solid;">
                <div class="card-header" id="headingcarFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsecarFour" aria-expanded="false" aria-controls="collapsecarFour">
                            Rental
                        </button>
                    </h5>
                </div>
                <div id="collapsecarFour" class="collapse" aria-labelledby="headingcarFour" data-parent="#accordion">
                    <div class="card-body">
                        If you need a rental car while you repair or replace your own car, we will cover the cost of hiring a similar rental car.
                    </div>
                </div>
            </div>
            <div class="card" style="border-bottom:1.5px solid;">
                <div class="card-header" id="headingcarFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsecarFive" aria-expanded="false" aria-controls="collapsecarFive">
                            Accessaries and extra cover
                        </button>
                    </h5>
                </div>
                <div id="collapsecarFive" class="collapse" aria-labelledby="headingcarFive" data-parent="#accordion">
                    <div class="card-body">
                        We will cover any breakdown service, damage to your car's windscreen and lost key or remote replacements.
                    </div>
                </div>
            </div>
        </div>
        <div class="i-service-btn-container">
            <button class="btn i-service-btn">Buy Policy</button>
        </div>

    </div>

    @* Motorbike side card *@
    <div class="i-motorbike-container">
        <div class="i-motorbike-head">
            <img src="~/Content/Images/squarebike.jpg" style="border-radius:100%; width:250px;" />
            <h3>Motorbike Insurance</h3>
        </div>
       
        

        @* Motorbike Accordion *@
        <div id="accordion">
            <div class="card i-service-card" >
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Liability up to $50,000
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        We will pay up to $50,000 for any damage done if you cause an accident.
                    </div>
                </div>
            </div>
            <div class="card" style="border-bottom:1.5px solid;">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Accidental and Fire damage
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        We will cover repairs if your motorbike is damaged in an accident or fire
                    </div>
                </div>
            </div>
            <div class="card" style="border-bottom:1.5px solid;">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Theft
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        We will cover replacement costs if your motorbike is stolen
                    </div>
                </div>
            </div> 
            <div class="card" style="border-bottom:1.5px solid;">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Rental
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        If you need a rental motorbike while you repair or replace your own motorbike, we will cover the cost of hiring a similar rental motorbike.
                    </div>
                </div>
            </div>
            <div class="card" style="border-bottom:1.5px solid;">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Accessaries and extra cover
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        We will cover any breakdown service and lost key or remote replacements.
                    </div>
                </div>
            </div>
        </div>
        <div class="i-service-btn-container">
            <button class="btn i-service-btn">Buy Policy</button>
        </div>

    </div>
</div>
